$verylightgray: hsl(240, 78%, 98%);
$lightgray: hsl(234, 14%, 74%);
$gray: hsl(233, 13%, 49%);
$darkgray: hsl(232, 13%, 33%);
$gradient: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
$mypurple: rgb(117, 119, 202);
