@import "_variables";
body {
  font-family: "Montserrat", sans-serif;
  font-size: 15;
  color: $gray;
  background-color: $verylightgray;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  header {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .priceSwitcherBox {
    color: $lightgray;
    margin-bottom: 30px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.priceBoxContainer {
  position: relative;
  width: 1050px;
  height: 450px;
  background-color: white;
  border-radius: 10px;
  margin-top: 50px;
  .priceBoxMiddle {
    position: absolute;
    top: -25px;
    left: 350px;
    width: 350px;
    height: 500px;
    background-image: $gradient;
  }
}

.bg-top {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.bg-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
